.body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.container {
    width: 768px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.wrapper {
    margin-top: 24px;
    box-sizing: border-box;
    justify-content: start;
    display: flex;
    width: 50%;
    padding: 10px 16px 10px 16px;
    align-items: center;
}

.left-icon {
    background: blue;
    min-width: 35px;
    height: 35px;
}

.text-container {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}

.text {
    font-size: 14px;
    word-break: break-word;
}

.right-icon {
    background: blue;
    min-width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
}

.wrapper:nth-child(-n + 2) {
    margin-top: 0;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    .wrapper:nth-child(-n + 2) {
        margin-top: 24px;
    }
    .wrapper:nth-child(-n + 1) {
        margin-top: 0;
    }
    .container {
        width: calc(100% - 20px); // уменьшил чутка чтоб border было хорошо видно
    }

}
