body {
    padding: 0;
    margin: 0;
}

.page {
    background: linear-gradient(to right, #00aaff, #00ff6c);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: transparent;
    width: 400px;
    height: auto;
}

.calculator__screen {
    background: #000;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    color: white;
}

.calculator__previous-operand {
    margin-top: 15px;
}

.calculator__buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.calculator__button {
    cursor: pointer;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    padding: 0;
    border: 1px solid #000;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator__button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.calculator__button_size-l {
    width: 200px;
}

.calculator__button_type-clear {
    color: red;
}
